[Unit]
Description=Exporter for machine metrics

[Service]
ExecStart=/usr/sbin/smp_exporter --config.file /etc/snmp_exporter/snmp.yml
Restart=always
RestartSec=30
Type=simple

[Install]
WantedBy=multi-user.target
